<mat-dialog-content class="z-10">
  <form class="form" [formGroup]="dataForm">
    <div class="form-group">
      <h1 class="form-label">Ngày khám</h1>
      <mat-form-field class="example-full-width">
        <mat-label>Chọn ngày</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="appDate" (dateChange)="onDateChange($event.value)">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-group">
      <h1 class="form-label">Giờ khám</h1>
      <div class="ngx-timepicker-field-example">
        <ngx-timepicker-field [defaultTime]="selectedTime" [minutesGap]="30" [controlOnly]="true" (timeChanged)="onTimeChange($event)"></ngx-timepicker-field>
      </div>
    </div>
    <div class="form-group">
      <h1 class="form-label">Loại điều trị</h1>
      <mat-form-field>
        <mat-label>Loại điều trị</mat-label>
        <mat-select formControlName="treatmentType">
          @for (treatmentType of listTreatmentType; track treatmentType.id) {
            <mat-option [value]="treatmentType.treatmentName">{{ treatmentType.treatmentName }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn">Hủy</button>
  <button mat-raised-button color="primary" (click)="handleSubmit()">Đặt lịch khám</button>
</mat-dialog-actions>
