<h1 class="title" >Đánh giá</h1>
<div class="flex w-full">
  <div class="reviews w-3/5">
    @for (review of reviews;track review.id){
      <div class="pl-10 pr-10 m-2 border-2 shadow shadow-gray-300 rounded-2xl mb-3">
        <div class="flex justify-between pt-2 pb-3">
          <p class="ml-5 font-bold">{{review.patient.fullName}}</p>
          <p>{{formatIsoDate(review.date)}}</p>
        </div>
        <hr>
        <div class="flex justify-between pt-3 pb-2">
          <p>{{review.reviewText}}</p>
          <div class="flex ">
              <div class="relative flex">
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
              </div>
              <div class="absolute flex text-amber-500">
                @for (star of getArray(review.rating);track star){
                  <mat-icon>star</mat-icon>
                }
              </div>
          </div>
        </div>
      </div>
    }
  </div>
  <div class="w-2/5">
    <div class="p-4 m-2 shadow-xl shadow-gray-300 rounded-2xl mb-3">
      <p class="text-4xl">{{avg}}/5 <mat-icon class="text-amber-500">star</mat-icon></p>
      <div class="p-3">
        <div>
          <div class="flex justify-between mt-4">
            <p class="flex text-amber-500 ">
              <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
            </p>
            <p>{{percentFiveStart}}%</p>
          </div>
          <mat-progress-bar mode="determinate" value="{{percentFiveStart}}"></mat-progress-bar>
        </div>
        <div>
          <div class="flex justify-between mt-4">
            <p class="flex text-amber-500">
              <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
            </p>
            <p>{{percentFourStart}}%</p>
          </div>
          <mat-progress-bar mode="determinate" value="{{percentFourStart}}"></mat-progress-bar>
        </div>
        <div>
          <div class="flex justify-between mt-4">
            <p class="flex text-amber-500">
              <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
            </p>
            <p>{{percentThreeStart}}%</p>
          </div>
          <mat-progress-bar mode="determinate" value="{{percentThreeStart}}"></mat-progress-bar>
        </div>
        <div>
          <div class="flex justify-between mt-4">
            <p class="flex text-amber-500">
              <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
            </p>
            <p>{{percentTwoStart}}%</p>
          </div>
          <mat-progress-bar mode="determinate" value="{{percentTwoStart}}"></mat-progress-bar>
        </div>
        <div>
          <div class="flex justify-between mt-4">
            <p class="flex text-amber-500">
              <mat-icon>star</mat-icon>
            </p>
            <p>{{percentOneStart}}%</p>
          </div>
          <mat-progress-bar mode="determinate" value="{{percentOneStart}}"></mat-progress-bar>
        </div>
      </div>
    </div>
  </div>
</div>
