<div class="flex h-full text-xs">
  <div class="flex-shrink-0">
    <mat-card class="demo-inline-calendar-card">
      <mat-calendar [(selected)]="selected" (selectedChange)="onDateSelected($event)"></mat-calendar>
    </mat-card>
    <p>{{ formatIsoDate(selectedDateISO || '') }}</p>
  </div>
  <table class="flex-grow h-full">
    <thead>
    <tr class="table-heading">
      <th>Bệnh nhân</th>
      <th>Số điện thoại</th>
      <th>Ngày khám</th>
      <th>Thời gian</th>
      <th>Triệu chứng</th>
      <th>Đến</th>
      <th>Xác nhận</th>
      <th>Trạng thái</th>
      <th>Tùy chọn</th>
    </tr>
    </thead>
    <tbody>
      @for (appointment of listAppointment; track appointment.id) {
        <tr class="">
          <td>{{ appointment.patient.fullName }}</td>
          <td>{{ appointment.patient.phoneNumber }}</td>
          <td>{{ formatIsoDate(appointment.appDate.toString()) }}</td>
          <td>{{ appointment.appTime }}</td>
          <td>{{ appointment.treatmentType }}</td>
          <td>
            <span (click)="handleConfirmArriveStatus(appointment)" class="{{appointment.arriveStatus ===0?'bg-yellow-400':'bg-green-600 text-xs'}}">
              {{ appointment.arriveStatus ===0?'Chưa đến':'Đã đến'}}
            </span>
          </td>
          <td>
            <span class="{{appointment.consultStatus ===0?'bg-yellow-400':'bg-green-600 text-xs'}}">
              {{ appointment.consultStatus ===0?'Chưa xác nhận':'Đã xác nhận'}}
            </span>
          </td>
          <td>
            <span class="{{appointment.status ===0?'bg-yellow-400':'bg-green-600 text-xs'}}">
              {{ appointment.status ===0?'Chưa hoàn thành':'Đã hoàn thành'}}
            </span>
          </td>

          <td class="flex">
            <!--              <button mat-mini-fab aria-label="Example icon button with a delete icon" (click)="handleEdit(clinic)" class="edit">-->
            <mat-icon>edit</mat-icon>
            <!--              </button>-->
            <!--              <button mat-mini-fab aria-label="Example icon button with a delete icon" (click)="handleDelete(clinic.id)">-->
            <mat-icon>delete</mat-icon>
            <!--              </button>-->
          </td>
        </tr>
      }

    </tbody>
  </table>
</div>
